{% extends 'base.html.twig' %}

{% block title %}Usuarios index{% endblock %}

{% block body %}
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
		<div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
			<h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Lista de Usuarios</h1>
		</div>
	</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                <td>{{ usuario.password }}</td>
                <td>
                    <a href="{{ path('app_usuarios_show', {'id': usuario.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
