{% extends 'base.html.twig' %}

{% block title %}Publicaciones index
{% endblock %}

{% block body %}

	<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
		<div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
			<h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Publicaciones</h1>
		</div>
	</div>
    
	<div class="container-fluid pt-5">
		<div class="container">
			<div class="section-title">
				<h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Publicaciones de la Comunidad</h4>
			</div>
			<div class="row">
				{% for publicacione in publicaciones %}
					<div class="col-lg-6 mb-5">
						<div class="row align-items-center">
							<div class="col-sm-5">

								<!-- Imagen -->
                                <a href="{{ path('app_publicaciones_show', {'id': publicacione.id}) }}">
                                    <img class="img-fluid mb-3 mb-sm-0" src="{{publicacione.getUrlSubidas()}}" alt="">
                                </a>

                            </div>

                            <div class="col-sm-7">

                                <!-- Título -->
                                <a href="{{ path('app_publicaciones_show', {'id': publicacione.id}) }}">
                                    <h4>{{publicacione.titulo}}</h4>
                                </a>
                    
                                <!-- Descripción -->
                                <p class="m-0">{{publicacione.descripcion}}</p>

                                {# Activar solo si es la publicación del propio usuario #}
                                <div class="botones-tabla">
								    <a href="{{ path('app_publicaciones_edit', {'id': publicacione.id}) }}" class="btn btn-primary font-weight-bold">Editar</a>
                                    {{ include('publicaciones/_delete_form.html.twig') }}
                                </div>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- About End -->

{% endblock %}
