<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/" class="navbar-brand px-lg-4 m-0">
            <h1 class="m-0 display-8 text-uppercase text-white">YOULLUSION</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4">

                {% if app.request.pathinfo=='/index' or app.request.pathinfo=='/' %}
                    <a href="/" class="nav-item nav-link active">Inicio</a>
                {% else %}
                    <a href="/" class="nav-item nav-link">Inicio</a>
                {% endif %}
        
            {% if is_granted('IS_AUTHENTICATED') %}

                {% if app.request.pathinfo=='/publicaciones' %}
                    <a href="/publicaciones" class="nav-item nav-link active">Publicaciones</a>
                {% else %}
                    <a href="/publicaciones" class="nav-item nav-link">Publicaciones</a>
                {% endif %}

                <a href="/mis-publicaciones/{{app.user.id}}" class="nav-item nav-link">Mis Publicaciones</a>
                
                {% if app.request.pathinfo=='/publicaciones/new' %}
                    <a href="/publicaciones/new" class="nav-item nav-link active">Crear</a>
                {% else %}
                    <a href="/publicaciones/new" class="nav-item nav-link">Crear</a>                   
                {% endif %}

                <a href="/perfil/{{app.user.id}}" class="nav-item nav-link">Mi Perfil</a>
                
                <a href={{ path('app_logout') }} class="nav-item nav-link" >Cerrar sesión - {{ app.user.username }}</a>

                {% if app.user.roles[0] == "ROLE_ADMIN" %}
                    <a href="/lista-usuarios" class="nav-item nav-link">Lista Usuarios</a>
                {% endif %}

            {% else %}
                {% if app.request.pathinfo=='/login' %}
                    <a href={{ path('app_login') }} class="nav-item nav-link active">Iniciar sesión</a>
                {% else %}
                    <a href={{ path('app_login') }} class="nav-item nav-link">Iniciar sesión</a>
                {% endif %}

                {% if app.request.pathinfo=='/register' %}
                    <a href={{ path('app_register') }} class="nav-item nav-link active">Registro</a>
                {% else %}
                    <a href={{ path('app_register') }} class="nav-item nav-link">Registro</a>
                {% endif %}
            {% endif %}

            {% if app.request.pathinfo=='/contacto' %}
                    <a href="/contacto" class="nav-item nav-link active">Contacto</a>
                {% else %}
                    <a href="/contacto" class="nav-item nav-link">Contacto</a>
            {% endif %}
            </div>
        </div>
    </nav>
</div>